{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
    <div class= "container my-3">
      <h2>Add a To-Do to the list</h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">To Do Title</label>
          <input type="text" class="form-control" name ="dbtitle" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Item Description</label>
          <input type="text" name="dbdesc" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </div>
    <hr>
    <div class= "container my-3">
      <h2>Your To-Do list</h2>
      {% if allTodo|length==0 %} 
      <div class="alert alert-dark" role="alert">
        No records available, use the form to add to the list.
      </div>
      {% else %} 
      <table class="table">
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in allTodo %} 
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.desc}}</td>
          <td>{{todo.date}}</td>
          <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button></td>
          <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Delete</button></td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock body %}